## STEG 1: DATAINSAMLING 

**Uppgift**: Ladda in data och beskriv den

In [4]:
# TODO: Importera pandas
import pandas as pd

# TODO: Ladda in data från CSV-fil
df = pd.read_csv("../data/Test.csv")


# TODO: Visa första 5 raderna
df.head()

# TODO: Visa antal rader och kolumner
df.shape

# TODO: Lista alla kolumner
list(df.columns)

['date_time',
 'is_holiday',
 'air_pollution_index',
 'humidity',
 'wind_speed',
 'wind_direction',
 'visibility_in_miles',
 'dew_point',
 'temperature',
 'rain_p_h',
 'snow_p_h',
 'clouds_all',
 'weather_type',
 'weather_description']

**Förklaring**: [Beskriv kort vilken data ni har och vad kolumnerna betyder]

---

## STEG 2: DATARENSNING 

**Uppgift**: Verifiera att data är OK

In [ ]:
# TODO: Kolla efter saknade värden
df.isnull().sum()


# TODO: Kolla efter duplikater
df.duplicated().sum()

# TODO: Visa statistik för numeriska kolumner
df.describe()

# TODO: Kolla efter outliers (extremvärden)
import matplotlib.pyplot as plt

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all
count,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.0,14454.000000
mean,154.679397,67.833887,3.607306,209.285319,5.005535,5.005535,283.859084,0.066965,0.0,46.801785
std,83.405392,21.147425,2.212177,94.996443,2.586276,2.586276,12.769255,0.466853,0.0,39.232165
min,10.000000,10.000000,0.000000,0.000000,1.000000,1.000000,246.150000,0.000000,0.0,0.000000
25%,83.000000,54.000000,2.000000,140.000000,3.000000,3.000000,273.720000,0.000000,0.0,1.000000
50%,155.000000,71.000000,3.000000,211.000000,5.000000,5.000000,287.725000,0.000000,0.0,40.000000
75%,227.000000,85.000000,5.000000,290.000000,7.000000,7.000000,293.860000,0.000000,0.0,90.000000
max,299.000000,100.000000,16.000000,360.000000,9.000000,9.000000,310.070000,10.600000,0.0,92.000000

**Slutsats**: [Är datan OK? Finns det problem?]

---

## STEG 3: DATAANALYS 

**Uppgift**: Välj 2 analyser med grafer

### ANALYS 1: [Välj en analys från instruktionerna]

**Fråga**: [Vad vill ni ta reda på?]

In [ ]:
# TODO: Importera matplotlib
import matplotlib.pyplot as plt

# TODO: Gör din analys här


# TODO: Skapa en graf

**Resultat**: [Vad ser ni i grafen? 2-3 meningar]

---

### ANALYS 2: [Välj en till analys]

**Fråga**: [Vad vill ni ta reda på?]

In [ ]:
# TODO: Gör din analys här


# TODO: Skapa en graf

**Resultat**: [Vad ser ni? 2-3 meningar]

---

## STEG 4: PREDIKTIV MODELL 

**Uppgift**: Bygg en modell som förutsäger energiförbrukning

### 4.1 Välj Features

**Förklaring**: [Vilka features valde ni och VARFÖR?]

In [ ]:
# TODO: Importera sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

# TODO: Välj features (X) och target (Y)
# X = 
# Y = 

# TODO: Dela data i träning och test (80/20)

### 4.2 Bygg och träna modellen

In [ ]:
# TODO: Skapa modellen


# TODO: Träna modellen


# TODO: Gör prediktioner på testdata

### 4.3 Utvärdera modellen

In [ ]:
# TODO: Beräkna R² score


# TODO: Beräkna MAE (Mean Absolute Error)


# TODO: Skapa en graf som visar prediktioner vs verkliga värden

**Resultat**: 
- R² Score: [Ditt värde här]
- MAE: [Ditt värde här]

**Diskussion**: [Är modellen bra eller dålig? Varför? 3-5 meningar]

---

## STEG 5: REKOMMENDATIONER - VG uppgift

Baserat på era analyser, ge  **1 konkret rekommendation**.

### REKOMMENDATION 1: [Titel]

**Varför**: [Baserat på vilken analys?]

**Åtgärd**: [Vad ska familjen göra?]

**Effekt**: [Vad händer?]

---