## Lab 2 ‚Äì Datarensning (ETL) f√∂r Smart Home IoT ‚Äì ‚Äúdirty version‚Äù
# M√•l med labben

I denna labb ska du:

* L√§sa in ett smutsigt IoT-dataset f√∂r

* smarta hem.

* Unders√∂ka datakvalitet:

* saknade v√§rden

* dubbletter

* orimliga v√§rden (outliers)

* Rensa och standardisera datan    (Transform i ETL).

Slutligen Spara en ren version av datan f√∂r Lab 3 & 4 (Load).

Steg 0 ‚Äì Importera bibliotek

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Steg 1 ‚Äì L√§s in smutsig data

F√∂r att l√§sa in och spara datafiler, finns det tv√• s√§tt via Git eller Google driver. F√∂rlj l√§nken nedan d√§r har jag f√∂rklarat hur man g√∂r beroende p√• vilken v√§g ni v√§ljer
https://www.notion.so/Lab2-Datarensning-2aa9de1f0d8380ab9e64e60eb26c7656?source=copy_link

In [ ]:
# l√§sa in den smutsiga datan, sparade fr√•n lab 1

In [9]:
print(f"  ‚Ä¢ {200} saknade v√§rden (NaN)")
print(f"  ‚Ä¢ {150} dubbletter")
print(f"  ‚Ä¢ {100} extrema v√§rden (outliers)")
print(f"\n Nu ska vi l√§ra oss hitta och fixa dessa problem!")

  ‚Ä¢ 200 saknade v√§rden (NaN)
  ‚Ä¢ 150 dubbletter
  ‚Ä¢ 100 extrema v√§rden (outliers)

 Nu ska vi l√§ra oss hitta och fixa dessa problem!

In [12]:
# Visa de f√∂rsta raderna
df = pd.read_csv("../data/Test.csv")
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,NaN,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,NaN,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,NaN,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,NaN,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,NaN,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

Steg 2 ‚Äì √ñverblick av datasetet

In [24]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14454 entries, 0 to 14453
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            14454 non-null  object
 1   is_holiday           18 non-null     object
 2   air_pollution_index  14454 non-null  int64
 3   humidity             14454 non-null  int64
 4   wind_speed           14454 non-null  int64
 5   wind_direction       14454 non-null  int64
 6   visibility_in_miles  14454 non-null  int64
 7   dew_point            14454 non-null  int64
 8   temperature          14454 non-null  float64
 9   rain_p_h             14454 non-null  float64
 10  snow_p_h             14454 non-null  int64
 11  clouds_all           14454 non-null  int64
 12  weather_type         14454 non-null  object
 13  weather_description  14454 non-null  object
dtypes: float64(2), int64(8), object(4)
memory usage: 1.5+ MB

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all
count,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.0,14454.000000
mean,154.679397,67.833887,3.607306,209.285319,5.005535,5.005535,283.859084,0.066965,0.0,46.801785
std,83.405392,21.147425,2.212177,94.996443,2.586276,2.586276,12.769255,0.466853,0.0,39.232165
min,10.000000,10.000000,0.000000,0.000000,1.000000,1.000000,246.150000,0.000000,0.0,0.000000
25%,83.000000,54.000000,2.000000,140.000000,3.000000,3.000000,273.720000,0.000000,0.0,1.000000
50%,155.000000,71.000000,3.000000,211.000000,5.000000,5.000000,287.725000,0.000000,0.0,40.000000
75%,227.000000,85.000000,5.000000,290.000000,7.000000,7.000000,293.860000,0.000000,0.0,90.000000
max,299.000000,100.000000,16.000000,360.000000,9.000000,9.000000,310.070000,10.600000,0.0,92.000000

Steg 3 ‚Äì Kontrollera datakvalitet

4.1 Saknade v√§rden

In [26]:
print("Saknade v√§rden per kolumn")
display(df.isna().sum())  # isna().sum() r√§knar hur m√•nga NaN finns det i varje kolumn

Saknade v√§rden per kolumn

date_time                  0
is_holiday             14436
air_pollution_index        0
humidity                   0
wind_speed                 0
wind_direction             0
visibility_in_miles        0
dew_point                  0
temperature                0
rain_p_h                   0
snow_p_h                   0
clouds_all                 0
weather_type               0
weather_description        0
dtype: int64

4.2 Dubbletter

In [25]:
print("Antal dubbletter (hela rader som √§r kopior):", 
df.duplicated().sum())
dups = df[df.duplicated()]

Antal dubbletter (hela rader som √§r kopior): 0

In [ ]:
dups['Home ID'].value_counts() # om man inte vilka ex home id som √§r duplicated

In [ ]:
dups[dups['Home ID'] == 94]

4.3 Orimliga v√§rden (business rules)

In [30]:
# kollar f√∂rst outliers f√∂r energyforbrukning
energy_outliers = df[(df['air_pollution_index'] < 0) |
                     (df['air_pollution_index'] > 1000)]
print("Antal orimliga energiv√§rden:", len(energy_outliers))
#energy_ouliners

Antal orimliga energiv√§rden: 0

In [ ]:
# kollar outliers f√∂r temp
temp_outliers = df[(df['Temp_K√∂k_C'] < -50) |
                   (df['Temp_K√∂k_C'] > 60)]
print("Antal orimliga temperaturer:", len(temp_outliers))
temp_outliners

Steg 5 ‚Äì Visualisera problemet (outlier-spik)

In [ ]:
# Graf 1: Visa BARA de extrema temperaturerna (√∂ver 50¬∞C)
extrema_temp = df[data['Temp_K√∂k_C'] > 50]['Temp_K√∂k_C']
extrema_temp.hist(color='red')
plt.title('PROBLEM: Extrema temperaturer!')
plt.xlabel('Temperatur (¬∞C)')
plt.ylabel('Antal')
plt.show()

In [ ]:
print(" GRAF 1 VISAR:")
print(f"‚Ä¢ {len(extrema_temp)} temperaturer vid {extrema_temp.iloc[0]:.0f}¬∞C")
print("‚Ä¢ Det √§r f√∂r varmt f√∂r ett k√∂k! Huset skulle brinna!")

In [ ]:

# Graf 2: Visa BARA de negativa energiv√§rdena  
negativa_energi = data[data['Vitvaror_Energi_Wh'] < 0]['Vitvaror_Energi_Wh']
negativa_energi.hist(color='orange')
plt.title('PROBLEM: Negativa energiv√§rden!')
plt.xlabel('Energi (Wh)')  
plt.ylabel('Antal')
plt.show()

In [ ]:
print(" GRAF 2 VISAR:")
print(f"‚Ä¢ {len(negativa_energi)} negativa energiv√§rden vid {negativa_energi.iloc[0]:.0f} Wh")
print("‚Ä¢ Vitvaror kan inte ge tillbaka energi - det √§r om√∂jligt!")

Steg 6 ‚Äì Rensa datan

In [5]:
# L√•t oss f√∂rst kolla vilka extrema v√§rden vi har
print("üîç EXTREMA V√ÑRDEN I DATAN:")
print(f"H√∂gsta temperatur i k√∂k: {data['Temp_K√∂k_C'].max():.1f}¬∞C")
print(f"L√§gsta temperatur i k√∂k: {data['Temp_K√∂k_C'].min():.1f}¬∞C")
print(f"H√∂gsta energi: {df['Vitvaror_Energi_Wh'].max():.1f} Wh")
print(f"L√§gsta energi: {df['Vitvaror_Energi_Wh'].min():.1f} Wh")

# Kolla hur m√•nga extrema v√§rden vi har
temp_extrema = (data['Temp_K√∂k_C'] > 50).sum()
energi_negativ = (data['Vitvaror_Energi_Wh'] < 0).sum()
print(f"\nAntal temperaturer √∂ver 50¬∞C: {temp_extrema}")
print(f"Antal negativa energiv√§rden: {energi_negativ}")

üîç EXTREMA V√ÑRDEN I DATAN:

NameError: name 'data' is not defined

6.1 ‚Äì Hantera saknade v√§rden, och NaN

6.1.1 Energy Consumption (kWh)

In [ ]:
# skapar en kopia av datan
df_cleaned = df_home.copy()

In [ ]:
print(f"F√∂re rensning: {len(df_cleaned)} rader")

# 1. Ber√§kna medelv√§rden (skippar automatiskt NaN v√§rden)
energy_mean = df_cleaned['Vitvaror_Energi_Wh'].mean()

# 2. Fylla ALLA saknade v√§rden (NaN, tomma celler) med medelv√§rden
missing_energy_before = df_cleaned['Vitvaror_Energi_Wh'].isnull().sum()
df_cleaned['Vitvaror_Energi_Wh'].fillna(energy_mean, inplace=True)

print(f"Fyllde {missing_energy_before} energi-NaN med medelv√§rde: {energy_mean:.2f} kWh")

6.1.2 Outdoor Temperature (¬∞C)

In [ ]:
print(f"F√∂re rensning: {len(df_cleaned)} rader")

# 1. Ber√§kna medelv√§rden (skippar automatiskt NaN v√§rden)
temp_mean = df_cleaned['Temp_K√∂k_C'].mean()

# 2. Fylla ALLA saknade v√§rden (NaN, tomma celler) med medelv√§rden
missing_temp_before = df_cleaned['Temp_K√∂k_C'].isnull().sum()

df_cleaned['Temp_K√∂k_C'].fillna(temp_mean, inplace=True)

print(f"Fyllde {missing_temp_before} temperatur-NaN med medelv√§rde: {temp_mean:.1f}¬∞C")

6.3 Hantera outliers

6.2.1 Outlier Energy Consumption

In [ ]:
#  Ers√§tt outliers och felaktiga v√§rden med medelv√§rden

# Ers√§tt negativ energi och extremv√§rden (>15 kWh) med medelv√§rde
energy_outliers = (df_home_cleaned['Energy Consumption (kWh)'] < 0) | (df_home_cleaned['Energy Consumption (kWh)'] > 15)
outlier_count_energy = energy_outliers.sum()
df_home_cleaned.loc[energy_outliers, 'Energy Consumption (kWh)'] = energy_mean
print(f"Ersatte {outlier_count_energy} energi-outliers med medelv√§rde")

6.2.2 Oulier Outdoor Temperature

In [ ]:
# Ers√§tt extrema temperaturer (<-40 eller >50) med medelv√§rde
temp_outliers = (df_home_cleaned['Outdoor Temperature (¬∞C)'] < -40) | (df_home_cleaned['Outdoor Temperature (¬∞C)'] > 50)
outlier_count_temp = temp_outliers.sum()
df_home_cleaned.loc[temp_outliers, 'Outdoor Temperature (¬∞C)'] = temp_mean
print(f"Ersatte {outlier_count_temp} temperatur-outliers med medelv√§rde")

print(f"Alla rader beh√•llna: {len(df_home_cleaned)} rader")

6.3 Ta bort alla dubbletter

In [4]:
# 2. Ta bort dubbletter
df_home_cleaned = df_home_cleaned.drop_duplicates()
print(f"Efter dubbletter: {len(df_home_cleaned)} rader")

NameError: name 'df_home_cleaned' is not defined

Steg 7 ‚Äì Hitta felaktiga textv√§rden innan rensning

7.1 Hitta unika v√§rden i textkolumnerna

In [ ]:
print("Unika v√§rden i Appliance Type:")
display(df_clean['Appliance Type'].unique())

print("\nUnika v√§rden i Season:")
display(df_clean['Season'].unique())

7.2 Hitta v√§rden som inneh√•ller mellanslag f√∂re/efter

In [ ]:
mask_spaces = df_clean['Appliance Type'].str.contains(r'^\s|\s$', regex=True)
df_clean[mask_spaces][['Appliance Type', 'Home ID', 'Date', 'Time']]

7.3 Hitta v√§rden med blandning av stora och sm√• bokst√§ver

In [ ]:
mask_case = df_clean['Appliance Type'].str.match(r'[A-Za-z ]+') & ~df['Appliance Type'].str.istitle()
df_clean[mask_case][['Appliance Type', 'Home ID']]

Steg 8‚Äì Standardisera text och datatyper

In [ ]:
# standardisera texf√§lt- ta bort mellanslag, r√§ttar case
df['Appliance Type'] = df['Appliance Type'].str.strip().str.title()
df['Season'] = df['Season'].str.strip().str.capitalize()

In [ ]:
# s√§kerst√§ller att datum √§r date time format
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M').dt.time

In [ ]:
#vi kan validera att datan har rensat
dups = df[df.duplicated(keep=False)]
dups['Home ID'].value_counts()

Steg 9 - Validera rensad data

In [ ]:
# √Ñr rensningen OK?
print(f"\n KLART! Slutlig ren data: {len(data_fixed)} rader")
print(f" Minskade fr√•n {len(df_home)} till {len(data_fixed)} rader")


print(f" Saknade v√§rden: {df_home.isnull().sum().sum()}")
print(f" Dubbletter: {df_home.duplicated().sum()}")
print(f" Negativ energi: {(df_home['Vitvaror_Energi_Wh'] < 0).sum()}")
print("Nu har vi perfekt data att analysera! ")

df_cleaned.head()

Steg 10 ‚Äì Spara ren version

In [ ]:

# spara rensat data till csv file
df_cleaned.to_csv(
    '/content/drive/MyDrive/big_data_labs/cleaned_iot_data.csv',
    index=False
)

print("Ren version sparad som cleaned_iot_data.csv")

Steg 11 ‚Äì  Ber√§kna Rolling Mean & Diff p√• ren data

In [ ]:
# Sortera i tidsordning
df = df.sort_values('DateTime')

# Rullande medelv√§rde
df['RollingMean'] = df['Energy Consumption (kWh)'].rolling(window=50).mean()

# Differens mellan m√§tpunkter
df['Diff'] = df['Energy Consumption (kWh)'].diff()

In [ ]:
# visa grafen efter rensning
plt.figure(figsize=(12,6))

plt.plot(df['DateTime'].head(500),
         df['Energy Consumption (kWh)'].head(500),
         label='R√•data', alpha=0.3)

plt.plot(df['DateTime'].head(500),
         df['RollingMean'].head(500),
         label='Rullande medelv√§rde', linewidth=2)

plt.xlabel('Tid')
plt.ylabel('kWh')
plt.title('Energif√∂rbrukning ‚Äì efter datarensning')
plt.legend()

# Fix f√∂r x-axeln:
ax = plt.gca()
ax.xaxis.set_major_locator(plt.MaxNLocator(10))  # Max 10 etiketter
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()